$black: #000;
	$black-95: rgba($black,0.95);
	$black-90: rgba($black,0.9);
	$black-85: rgba($black,0.85);
	$black-80: rgba($black,0.8);
	$black-75: rgba($black,0.75);
	$black-70: rgba($black,0.7);
	$black-65: rgba($black,0.65);
	$black-60: rgba($black,0.6);
	$black-55: rgba($black,0.55);
	$black-50: rgba($black,0.5);
	$black-45: rgba($black,0.45);
	$black-40: rgba($black,0.4);
	$black-35: rgba($black,0.35);
	$black-30: rgba($black,0.3);
	$black-25: rgba($black,0.25);
	$black-20: rgba($black,0.2);
	$black-15: rgba($black,0.15);
	$black-10: rgba($black,0.1);
	$black-05: rgba($black,0.05);

$white: #fff;
	$white-95: rgba($white,0.95);
	$white-90: rgba($white,0.9);
	$white-85: rgba($white,0.85);
	$white-80: rgba($white,0.8);
	$white-75: rgba($white,0.75);
	$white-70: rgba($white,0.7);
	$white-65: rgba($white,0.65);
	$white-60: rgba($white,0.6);
	$white-55: rgba($white,0.55);
	$white-50: rgba($white,0.5);
	$white-45: rgba($white,0.45);
	$white-40: rgba($white,0.4);
	$white-35: rgba($white,0.35);
	$white-30: rgba($white,0.3);
	$white-25: rgba($white,0.25);
	$white-20: rgba($white,0.2);
	$white-15: rgba($white,0.15);
	$white-10: rgba($white,0.1);
	$white-05: rgba($white,0.05);

$red: #cf1f2e;
	$red-95: rgba($red,0.95);
	$red-90: rgba($red,0.9);
	$red-85: rgba($red,0.85);
	$red-80: rgba($red,0.8);
	$red-75: rgba($red,0.75);
	$red-70: rgba($red,0.7);
	$red-65: rgba($red,0.65);
	$red-60: rgba($red,0.6);
	$red-55: rgba($red,0.55);
	$red-50: rgba($red,0.5);
	$red-45: rgba($red,0.45);
	$red-40: rgba($red,0.4);
	$red-35: rgba($red,0.35);
	$red-30: rgba($red,0.3);
	$red-25: rgba($red,0.25);
	$red-20: rgba($red,0.2);
	$red-15: rgba($red,0.15);
	$red-10: rgba($red,0.1);
	$red-05: rgba($red,0.05);

$blue: #65aec0;
	$blue-95: rgba($blue,0.95);
	$blue-90: rgba($blue,0.9);
	$blue-85: rgba($blue,0.85);
	$blue-80: rgba($blue,0.8);
	$blue-75: rgba($blue,0.75);
	$blue-70: rgba($blue,0.7);
	$blue-65: rgba($blue,0.65);
	$blue-60: rgba($blue,0.6);
	$blue-55: rgba($blue,0.55);
	$blue-50: rgba($blue,0.5);
	$blue-45: rgba($blue,0.45);
	$blue-40: rgba($blue,0.4);
	$blue-35: rgba($blue,0.35);
	$blue-30: rgba($blue,0.3);
	$blue-25: rgba($blue,0.25);
	$blue-20: rgba($blue,0.2);
	$blue-15: rgba($blue,0.15);
	$blue-10: rgba($blue,0.1);
	$blue-05: rgba($blue,0.05);