@import "../vendor/susy/susy"; // Susy - http://susy.oddbird.net/
@import "../modules/all"; // Variables, mixins, colors
@import "../vendor/normalize"; // Instead of a reset, we use normalize.css

/*
==========================================================================
	BASE STYLES (scss/partials/_base.scss)
==========================================================================
*/
*, *:after, *:before { // Global box sizing & font smoothing
	@include border-box;
	@include font-smoothing;
}

html,
button,
input,
select,
textarea {
	color: $black;
}

html, body {
}
body {
	@include font-family-garamond(300);
}

#wrapper {
	
}

#content,
.container {
	max-width: 1060px;
	@include span(100%);
	margin: 0 auto;
	float: none;
}


a {
	text-decoration: none;
	color: $blue;

	&:hover {
		color: $red;
	}
	&:active {
		opacity: .5;
	}
}

a, a img, input[type=submit] {
	@include transition(all,250ms);	
}

img {
	&.alignleft {
		float: left;
		margin-right: 15px;
	}
	&.alignright {
		float: right;
		margin-left: 15px;
	}
}

address {
	font-style: normal;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: $black;
	text-shadow: none;
	color: $white;
}
::selection {
	background: $black;
	text-shadow: none;
	color: $white;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.hr {
	@include span(100%);
	height: 15px;
	margin: 45px 0;
	background-image: url('../img/background-diag-line-repeat-8x8.gif');
	background-size: 4px 4px;

	@include media-query(mobile) {
		margin: 35px 0;
	}

	&.trans {
		background-image: url('../img/background-diag-line-repeat-trans-8x8.gif');
	}
}

audio,
canvas,
img,
video { // Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
	vertical-align: middle;
}

.embed-youtube, 
.embed-vimeo {
	width: 100%;
	height: auto;
	clear: both;
	position: relative;

	&:after {
		content: "";
		display: block;
		padding-bottom: 56.2%;
	}
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
}

// Inputs & Forms
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input[type=text], textarea, select {
	padding: 10px 10px 9px 10px;

	&:focus {
		outline: 0;
	}
}

textarea {
	resize: vertical;
}

.button {
	display: inline-block;
	padding: 7px 10px 5px;

	background: $red;
	color: $white;

	&:hover {
		background: $blue;
		color: $white;
	}
}


// Toolbox
.fill { // Fill items (usually links that need to take up 100% of their parent)
	width: 100%;
	height: 100%;
	display: block;
}

.no-margin {
	margin: 0;
}

.clearfix:before,
.clearfix:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}
.clearfix:after {
		clear: both;
}
.clearfix {
		*zoom: 1;
}