/*
==========================================================================
  TIMELINE (scss/partials/_timeline.scss)
==========================================================================
*/

#timeline {
  background: url(../img/background-diag-line-repeat-trans-16x8.gif);
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 8px 4px;
  text-align: center;

  menu.filter {
    text-align: left;
    > div {
      position: relative;
      background-color: $white;
      background-image: url(../img/background-diag-line-repeat-8x16.gif);
      background-size: 4px 8px;
      background-repeat: repeat-x;
      background-position: bottom center;
    }

    h6 {
      display: inline;
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      float: left;

      background: $white-60;
      @include font-family-interstate-bold;
      @include font-size-small;
      text-transform: uppercase;

      @include media-query(mobile) {
        @include font-size-tiny;
      }
    }

    ul {
      margin: 0;
      padding: 30px 0 0;

      @include font-family-interstate-light;
      @include font-size-small;
      list-style-type: none;
      display: inline-block;
      float: right;

      @include media-query(mobile) {
        @include font-size-tiny;
      }
    }
    li {
      display: inline;
      margin-left: -4px;

      &.toggle {
        display: none;
      }
    }
    a {
      padding: 30px 15px 32px;

      background: $white-60;
      color: $red;
      cursor: pointer;

      &:hover {
        color: $blue;
      }

      &.active {
        background: none;
        color: $black;
        &:hover {
          color: $blue;
        }
      }
    }
    .mobileBreak {
      display: none;
    }
    
    // Ensure nav isn't hidden if user has used the <select> state
    // and then resized their browser to be larger again.
    @media screen and (min-width: 891px) {
      .hide {
        display: block !important;
      }
    }

    // Mobile responsive state (mimics a <select>)
    @media screen and (max-width: 890px) {
      h6 {
        background: none;
      }
      .hide {
        display: none;
      }
      ul {
        width: 240px;
        padding-top: 0;
        margin-top: 22px;
        max-width: 45%;

        border: 1px solid $black-20;
        background: $white;
        position: absolute;
        right: 0;
      }
      li {
        display: block;
        margin: 0;
        border-top: 1px solid $black-20;

        &.toggle {
          display: block;
          
          border: 0;
          background-image: url(../img/ui-dn-arr-27x14.gif);
          background-repeat: no-repeat;
          background-size: 13px 7px;
          background-position: 95% center;
          cursor: pointer;

          a {
            padding-right: 20px;
          }
        }
      }
      a {
        display: block;
        padding: 7px 10px;
        background: none;
        &:hover {
          background: $black-05;
          color: $black;
        }
        &.active:hover {
          color: $black;
        }
      }
    }
    @media screen and (max-width: 374px) {
      .mobileBreak {
        display: block;
      }
    }
  }

  .timelineHolder {
    margin: 40px auto;

    // Widths to ensure Masonry always has a good column width
    @media screen and (min-width: 769px) and (max-width: 800px) {
      width: 725px;
    }
    @media screen and (min-width: 801px) and (max-width: 850px) {
      width: 765px;
    }
    @media screen and (min-width: 851px) and (max-width: 900px) {
      width: 800px;
    }
    @media screen and (min-width: 901px) and (max-width: 950px) {
      width: 850px;
    }
    @media screen and (min-width: 951px) and (max-width: 1000px) {
      width: 906px;
    }
    @media screen and (min-width: 1001px) and (max-width: 1050px) {
      width: 948px;
    }
    @media screen and (min-width: 1051px) {
      width: 998px;
    }
    // @media screen and (min-width: 1060px) {
    //   width: 1000px;
    // }

  }

  article.event {
    margin-top: 40px;
    margin-bottom: 40px;
    
    text-align: left;

    @include media-query(mobile) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      background: $white-80;
    }

    // Column widths
    &.visible {
      @include media-query(mobile) {
        @include span(100%);
      }
      @include media-query(tablet-and-larger) {
        @include span(58%);
        
        &.vis-1,
        &.vis-4,
        &.vis-5,
        &.vis-8,
        &.vis-9,
        &.vis-12,
        &.vis-13,
        &.vis-16,
        &.vis-17,
        &.vis-20,
        &.vis-21,
        &.vis-24
        &.vis-25,
        &.vis-28,
        &.vis-29,
        &.vis-32,
        &.vis-33,
        &.vis-36,
        &.vis-37,
        &.vis-40,
        &.vis-41,
        &.vis-44,
        &.vis-45,
        &.vis-48,
        &.vis-49,
        &.vis-52,
        &.vis-53,
        &.vis-56,
        &.vis-57,
        &.vis-60 {
          @include span(42%);          
        }
      }
    }
    
    // Default styling
    h3 {
      @include span(70% no-gutters);
      @include font-family-interstate-light;
      @include font-size-default;

      @include media-query(mobile) {
        @include span(80% no-gutters);
      }

      a {
        color: $black;

        &:hover {
          color: $blue;
        }
      }
    }
    h4 {
      @include span(30%);
      margin: 1em 0;

      font-weight: 500;
      @include font-size-default;

      @include media-query(mobile) {
        @include span(20% no-gutters);
        text-align: right;
      }
    }
    p {
      @include span(70% no-gutters);
      margin: 0;
      @include media-query(mobile) {
        @include span(100% no-gutters);
      }
    }
    .event__image {
      width: 100%;
    }

    // Modifications to default styling for columns
    &.visible {
      @include media-query(tablet-and-larger) {
        &.vis-1,
        &.vis-3,
        &.vis-5,
        &.vis-7,
        &.vis-9,
        &.vis-11,
        &.vis-13,
        &.vis-15,
        &.vis-17,
        &.vis-19,
        &.vis-21,
        &.vis-23,
        &.vis-25,
        &.vis-27,
        &.vis-29,
        &.vis-31,
        &.vis-33,
        &.vis-35,
        &.vis-37,
        &.vis-39,
        &.vis-41,
        &.vis-43,
        &.vis-45,
        &.vis-47,
        &.vis-49,
        &.vis-51,
        &.vis-53,
        &.vis-55,
        &.vis-57,
        &.vis-59 {
          text-align: right;
          h4 {
            text-align: left;
            padding-left: 20px;
          }
        }

        &.vis-2,
        &.vis-4,
        &.vis-6,
        &.vis-8,
        &.vis-10,
        &.vis-12,
        &.vis-14,
        &.vis-16,
        &.vis-18,
        &.vis-20,
        &.vis-22,
        &.vis-24,
        &.vis-26,
        &.vis-28,
        &.vis-30,
        &.vis-32,
        &.vis-34,
        &.vis-36,
        &.vis-38,
        &.vis-40,
        &.vis-42,
        &.vis-44,
        &.vis-46,
        &.vis-48,
        &.vis-50,
        &.vis-52,
        &.vis-54,
        &.vis-56,
        &.vis-58,
        &.vis-60 {
          h3,
          p {
            float: right;
          }
          h4 {
            padding-right: 20px;
            float: left;
            text-align: right;
          }
        }
      }
    }
  }

  .button {
    margin: 0 auto;

    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}