/*
==========================================================================
  TIMELINE (scss/partials/_timeline.scss)
==========================================================================
*/

#timeline {
  background: url(../img/background-diag-line-repeat-trans-16x8.gif);
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 8px 4px;
  text-align: center;

  menu.filter {
    text-align: left;
    > div {
      position: relative;
      background-color: $white;
      background-image: url(../img/background-diag-line-repeat-8x16.gif);
      background-size: 4px 8px;
      background-repeat: repeat-x;
      background-position: bottom center;
    }

    h6 {
      display: inline;
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      float: left;

      background: $white-60;
      @include font-family-interstate-bold;
      @include font-size-small;
      text-transform: uppercase;

      @include media-query(mobile) {
        @include font-size-tiny;
      }
    }

    ul {
      margin: 0;
      padding: 30px 0 0;

      @include font-family-interstate-light;
      @include font-size-small;
      list-style-type: none;
      display: inline-block;
      float: right;

      @include media-query(mobile) {
        @include font-size-tiny;
      }
    }
    li {
      display: inline;
      margin-left: -4px;

      &.toggle {
        display: none;
      }
    }
    a {
      padding: 30px 15px 32px;

      background: $white-60;
      color: $red;

      &:hover {
        color: $blue;
      }

      &.active {
        background: none;
        color: $black;
        &:hover {
          color: $blue;
        }
      }
    }

    // Mobile responsive state (mimics a <select>)
    @media screen and (max-width: 890px) {
      h6 {
        background: none;
      }
      .hide {
        display: none;
      }
      ul {
        width: 200px;
        padding-top: 0;
        margin-top: 22px;
        max-width: 40%;

        border: 1px solid $black-20;
        background: $white;
        position: absolute;
        right: 0;
      }
      li {
        display: block;
        margin: 0;
        border-top: 1px solid $black-20;

        &.toggle {
          display: block;
          
          border: 0;
          background-image: url(../img/ui-dn-arr-27x14.gif);
          background-repeat: no-repeat;
          background-size: 13px 7px;
          background-position: 90% center;
          cursor: pointer;
        }
      }
      a {
        display: block;
        padding: 7px 10px;
        background: none;
        &:hover {
          background: $black-05;
          color: $black;
        }
        &.active:hover {
          color: $black;
        }
      }
    }
  }

  .event {
    margin-top: 80px;
    margin-bottom: 80px;
    
    text-align: left;

    @include media-query(mobile) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      background: $white-80;
    }

    // Column widths
    @include media-query(mobile) {
      @include span(100%);
    }
    @include media-query(tablet-and-larger) {
      @include span(58%);
      &:nth-of-type(3n+1) {
        @include span(42%);
      }
    }
    
    // Default styling
    h3 {
      @include span(70% no-gutters);
      @include font-family-interstate-light;
      @include font-size-default;

      @include media-query(mobile) {
        @include span(80% no-gutters);
      }

      a {
        color: $black;

        &:hover {
          color: $blue;
        }
      }
    }
    h4 {
      @include span(30%);
      margin: 1em 0;

      font-weight: 500;
      @include font-size-default;

      @include media-query(mobile) {
        @include span(20% no-gutters);
        text-align: right;
      }
    }
    p {
      @include span(70% no-gutters);
      margin: 0;
      @include media-query(mobile) {
        @include span(100% no-gutters);
      }
    }
    .event__image {
      width: 100%;
    }

    // Modifications to default styling for columns
    @include media-query(tablet-and-larger) {
      &:nth-of-type(odd) {
        text-align: right;
        h4 {
          text-align: left;
          padding-left: 20px;
        }
      }

      &:nth-of-type(even) {
        h3,
        p {
          float: right;
        }
        h4 {
          padding-right: 20px;
          float: left;
          text-align: right;
        }
      }
    }
  }

  .button {
    margin: 0 auto;

    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}